<footer>
    <h2>Della Recipe Blogs <sub>Copyright &copy; Della 2024</sub></h2>
    <div class="contact">
        <a href="mailto:izuokeme@gmail.com">Email Us</a>
        <a href="tel:+08155053195">Call Us</a>
    </div>
</footer>