<nav>
    <form action="/search" method="post" class="searchform">
        <input type="search" name="search" id="search" placeholder="Search" required>
        <button>Search</button>
    </form>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./all">All blogs</a></li>
        <li><a href="./about">about Us</a></li>
        <li><a href="/dashboard" id="dash">Daashboard</a></li>
    </ul>
</nav>