<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <style>
                main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                p {
                    width: 90%;
                    padding: 0px 20px;
                    text-align: justify;
                    font-size: 18px;
                }
            </style>
            <header>
                <h1>About Della Blogs</h1>
            </header>

            <body>
                <main>
                    <h2>What we do</h2>
                    <h3>*Welcome to Tasty Community: Where Food Lovers Unite**</h3>
                    <p> In the vibrant world of culinary exploration,
                        where every dish tells a story and every recipe is a journey of flavors, we're thrilled to
                        introduce
                        you to Tasty Community, your ultimate destination for sharing, discovering, and connecting
                        through
                        the love of food. At Tasty Community, we believe that the joy of cooking is meant to be shared.
                        That's why our platform is designed to empower food enthusiasts like you to become creators,
                        sharing
                        your favorite recipes, culinary adventures, and kitchen triumphs with a community of like-minded
                        individuals. Whether you're a seasoned home cook or an aspiring foodie, Tasty Community welcomes
                        you
                        with open arms. Here, you'll find a treasure trove of recipes contributed by fellow members of
                        our
                        culinary community, each one a testament to the diversity and creativity of home cooking.
                        Explore a
                        smorgasbord of recipes spanning every cuisine imaginable, from comforting classics to bold
                        innovations. But Tasty Community is more than just a recipe repository; it's a place to connect
                        with
                        others who share your passion for food. Join lively discussions, swap cooking tips and tricks,
                        and
                        discover new culinary inspirations from fellow members. Whether you're seeking advice on
                        perfecting
                        your pie crust or sharing your latest kitchen experiment, Tasty Community provides a welcoming
                        space
                        where food lovers can come together to learn, grow, and celebrate their shared love of cooking.
                        So
                        come be a part of our culinary family! Whether you're here to share your own recipes, learn from
                        others, or simply connect with fellow food enthusiasts, Tasty Community offers a warm and
                        inviting
                        atmosphere where every dish is an opportunity to make new friends and create lasting memories.
                        Indulge your senses, ignite your creativity, and join us on a delicious journey through the
                        wonderful world of food. Welcome to Tasty Community, where every recipe is a story waiting to be
                        told, and every meal is a celebration of friendship and flavor.</p>
                </main>
                <%- include("./partials/footer.ejs") %>
            </body>
    </body>

</html>